/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.board{
  display:flex;
  justify-content: center;
  margin:0 auto;
}
.game {
  margin: 0;
  width:450px;
  justify-content:center;
  background:blue;
  border: dashed black 5px; 
  font-family: "Press Start 2P", cursive;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
h1.game-title{
  color:yellow;
}



img{
  width:250px;
  height:200px;
  border: white 5px dashed;
}

.text{ 
 color:white;
 font-size:.75em;
 padding:8px;
}

Button,Input{
  font-family: "Press Start 2P", cursive;
  font-size:1em;
   border:black 3px dashed;
   margin:10px;
}


.displayNone{
  display:none;
}

.avatarsContainer{
  display:flex;

}


.avatar>img{
  width:100px;
  height:100px;
  margin:10px;
  border-radius: 15px;
}

.avatar>img:hover{
  animation: blink .3s step-end infinite alternate;
}

@keyframes blink { 
  50% {border:6px yellow dashed;} 
}

.show{
  border:6px yellow dashed;
}

.hidden{
  display:none;
}

.state{
  color:white;
}